# Gradle Wrapper scripts and JAR are verified and versioned build inputs.
/.gradle
/captures/
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

key.properties
*.jks
*.keystore
